@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    /* Minimum height set to full screen */
  body {
    min-height: 100vh; /* vh = viewport height */
    background: linear-gradient(to right, #09001a, #1b0039); 
    color: #fff ; /* Text color white */
  }
  }